# Drizzle
# Replace with your DB credentials!
DATABASE_URL="libsql://db-name-user.turso.io"
# A local DB can also be used in dev as well
# DATABASE_URL="file:local.db"
DATABASE_AUTH_TOKEN=""

ORIGIN=""

# GitHub Portfolio & Auth Configuration
GITHUB_USERNAME="reysilvaa"
GITHUB_EMAIL=""
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GITHUB_TOKEN_PERSONAL=""
GITHUB_TOKEN_ORGANIZATION=""

# Better Auth
BETTER_AUTH_SECRET=""
