@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--color-brand-bg: #ffffff;
	--color-brand-surface: #f9fafb;
	--color-brand-surface-light: #f3f4f6;
	--color-brand-text: #111827;
	--color-brand-text-muted: #6b7280;

	--font-sans: 'Inter', sans-serif;
	--font-serif: 'Inter', sans-serif;
}

@layer base {
	body {
		@apply bg-brand-bg font-sans text-brand-text antialiased selection:bg-brand-surface-light selection:text-brand-bg;
	}
}

@layer components {
	.section-container {
		@apply mx-auto max-w-2xl px-6;
	}
}

/* Custom smooth easing */
:global(html) {
	scroll-behavior: smooth;
}

/* Minimalist Scrollbar */
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
::-webkit-scrollbar-track {
	background: var(--color-brand-bg);
}
::-webkit-scrollbar-thumb {
	background: var(--color-brand-surface-light);
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
	background: var(--color-brand-text-muted);
}
