@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--color-brand-primary: #171717;
	--color-brand-secondary: #ffffff;
	--color-surface-bg: #ffffff;
}

@layer base {
	body {
		@apply bg-[#fafafa] font-sans text-neutral-900 antialiased selection:bg-neutral-900 selection:text-white;
	}
}

@layer components {
	.section-container {
		@apply mx-auto max-w-2xl px-6;
	}
}

/* Custom smooth easing */
:global(html) {
	scroll-behavior: smooth;
}

/* Premium Scrollbar */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-track {
	background: #ffffff;
	border-left: 2px solid #171717;
}
::-webkit-scrollbar-thumb {
	background: #ffde59;
	border: 2px solid #171717;
}
::-webkit-scrollbar-thumb:hover {
	background: #171717;
}
